<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"
  class="d-flex justify-content-between align-items-center">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item text-secondary fw-lighter cursor-pointer" (click)="navigateTo('backoffice')">Módulos</li>
    <li class="breadcrumb-item active text-light fw-bold" aria-current="page">Veículos e Motoristas</li>
  </ol>
</nav>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
        <h4>Veículos</h4>
        <i class="fa-solid fa-truck-fast fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
        <h4>Motoristas</h4>
        <i class="fa-regular fa-id-card fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
        <h4>Abastecimento</h4>
        <i class="fa-sharp fa-solid fa-gas-pump fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
        <h4>Multas</h4>
        <i class="fa-solid fa-camera fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
        <h4>Impostos</h4>
        <i class="fa-duotone  fa-solid fa-calculator fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
        <h4>Manutenções</h4>
        <i class="fas fa-screwdriver-wrench fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
</div>
