<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb"
  class="d-flex justify-content-between align-items-center">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item text-secondary fw-lighter cursor-pointer" (click)="navigateTo('backoffice')">Módulos</li>
    <li class="breadcrumb-item active text-light fw-bold" aria-current="page">Equipamentos</li>
  </ol>
</nav>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
        <h4>Unidades</h4>
        <i class="fas fa-shapes fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
        <h4>Precificação</h4>
        <i class="fa-solid fa-money-bill-wave fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
        <h4>Relatórios e Indicadores</h4>
        <i class="bi bi-pie-chart-fill fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <a class="text-decoration-none">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
        <h4>Alertas</h4>
        <i class="bi bi-bell fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
</div>
