<div class="fixed-center-text text-light fs-3">
  Pergunte e obtenha insights com a IA Locação
</div>

<footer class="bg-dark py-3 fixed-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Digite sua mensagem..." aria-label="Mensagem">
          <button class="btn btn-outline-light" type="button"><i class="fa-solid fa-circle-up"></i></button>
        </div>
      </div>
    </div>
  </div>
</footer>
