<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4" (click)="navigateTo('backoffice/customers')">
    <a class="text-decoration-none">
      <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
        <h4>Clientes</h4>
        <i class="fas fa-users fa-3x position-absolute bottom-0 end-0 m-3"></i>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
      <h4>Marcas</h4>
      <i class="fas fa-tags fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
      <h4>Categorias</h4>
      <i class="fas fa-list fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
</div>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
      <h4>Usuários e Permissões</h4>
      <i class="fas fa-key fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
      <h4>Modelos</h4>
      <i class="fas fa-shapes fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
      <h4>Minha Frota</h4>
      <i class="fas fa-car fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
</div>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
      <h4>Financeiro</h4>
      <i class="fas fa-comment-dollar fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
      <h4>Manutenções</h4>
      <i class="fas fa-screwdriver-wrench fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
      <h4>Comunicações</h4>
      <i class="fas fa-comment-sms fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
</div>
<br>
<div class="row align-items-sm-stretch">
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
      <h4>Equipamentos</h4>
      <i class="fas fa-hammer fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 text-bg-dark rounded-3 position-relative card">
      <h4>Devoluções</h4>
      <i class="fas fa-undo fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3 position-relative card">
      <h4>Webhooks e Integrações</h4>
      <i class="fas fa-terminal fa-3x position-absolute bottom-0 end-0 m-3"></i>
    </div>
  </div>
</div>
