<br>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="d-flex justify-content-between align-items-center">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item text-secundary fw-lighter cursor-pointer" (click)="navigateTo('backoffice')">Módulos</li>
    <li class="breadcrumb-item active text-light fw-bold" aria-current="page">Gestão de clientes</li>
  </ol>
  <div>
    <button type="button" class="btn btn-light border border-dark me-2">Documentos <i class="bi bi-file-earmark-person"></i></button>
    <button type="button" class="btn btn-dark border border-light">Cadastrar <i class="bi bi-file-plus"></i></button>
  </div>
</nav>
<br>
<div class="row align-items-sm-stretch">
  <div class="alert alert-dark fw-lighter" role="alert">
    <div class="input-group input-group-lg">
      <input type="text" id="clientSearch" placeholder="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
    </div>
  </div>
</div>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome Completo</th>
      <th scope="col">Documento</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>OLÍVIO RODRIGUES DA SILVA NETO</td>
      <td>380.954.208-32</td>
      <td class="text-center">
        <button type="button" class="btn btn-dark me-2"><i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
