<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Locação Frontend</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto" style="flex-grow: 1;">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <i class="fas fa-home me-2"></i>
        Página Inicial
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fas fa-tachometer-alt me-2"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-th me-2"></i>
        Backoffice
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Marcas</a></li>
        <li><a class="dropdown-item" href="#">Categorias</a></li>
        <li><a class="dropdown-item" href="#">Modelos</a></li>
        <li><a class="dropdown-item" href="#">Clientes</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fas fa-building me-2"></i>
        Companias
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="fas fa-users me-2"></i>
        Usuários
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>Olívio Rodrigues</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">Minha conta</a></li>
      <li><a class="dropdown-item" href="#">Suporte</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Encerrar sessão</a></li>
    </ul>
  </div>
</div>
