<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="card" style="width: 400px;">
    <div class="card-body">
      <h5 class="card-title text-center">Esqueci Minha Senha</h5>
      <form (ngSubmit)="onRequestReset()">
        <div class="mb-3">
          <label for="email" class="form-label">E-mail:</label>
          <input type="email" id="email" class="form-control" name="email" required>
        </div>
        <div *ngIf="successMessage" class="alert alert-success" role="alert">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Enviar Solicitação</button>
      </form>
      <div class="text-start mt-3">
        <a routerLink="/login" class="no-style">Voltar para Login</a>
      </div>
    </div>
  </div>
</div>
